body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url(./img/fondo-portfolio.jpg);
    display: grid;
    place-items: center;

}
#sobremi{
    max-width: 1100px;
    margin: auto;
    padding: 20px 15px;
    color: #111135;
    display: flex;
    border-radius: 20px;
    background-color: #ffffff;
}
#sobremi .contenedor-foto{
    max-width: 1200px;
    width: 1200px;
    margin-right: 80px;
}

#sobremi .contenedor-foto img{
    padding: 15px;
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}
#sobremi .sobremi{
    margin: 0 40px;
}
#sobremi .sobremi .titulo-seccion{
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#sobremi .sobremi h2{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}
#sobremi .sobremi h2 span{
    color:rgb(171, 1, 183);
}


#sobremi .sobremi p{
    font-size: 17px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}
#sobremi .sobremi a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}
#sobremi .sobremi a:hover{
   background-color: rgb(171, 1, 183);
   color: #fff;
}
@media screen and (max-width:1133px) {
    .redes{
        display: none;
    }
    nav{
        display: none;
    }
    nav.responsive{
        display: block;
        background-color: rgba(0,0,0,0.8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }
    nav.responsive ul{
        display: block !important;
        text-align: center;
    }
    nav.responsive ul li{
        margin: 5px 0;
    }
    #icono-nav{
        display: block;
    }
    #inicio .contenido .presentacion h2{
        font-size: 40px;
    }
    #sobremi{
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto{
        max-width: 150px;
        margin: auto;
    }
    #sobremi .contenedor-foto img{
        padding: 8px;
    }   
    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }
    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }
    #portfolio{
        padding: 50px 0;
    }
    #portfolio .fila{
        display: block;
    }
    #portfolio .fila .proyecto{
        margin: 10px auto;
    }
    #contacto{
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input{
        width: 100%;
        margin-bottom: 15px;
    }

}